.container {
  padding: 50px 100px;
}

.infoWrapper {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.infoHeader {
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.infoDesc {
  line-height: 2;
  font-weight: 500;
  color: #777;
  text-align: center;
}

.productsWrapper {
  display: flex;
  flex-wrap: wrap;
}
.product {
  flex-basis: 300px;
  padding: 10px;
  text-align: center;
}
.imgContainer {
  position: relative;
  width: 100%;
  height: 250px;
  margin: 0 auto;
}
.productTitle {
  color: red;
}
.productPrice {
  color: black;
  font-weight: 700;
}
.productDesc {
  color: #777;
}

@media screen and (max-width: 480px) {
  .container {
    padding: 25px 10px;
  }
  .infoWrapper {
    width: 100%;
  }
  .productsWrapper {
    width: 100%;
    justify-content: center;
  }
  .product {
    flex-basis: auto;
  }
  .infoDesc {
    font-size: 19px;
  }
  .productTitle {
    font-size: 22px;
  }
  .productPrice {
    font-size: 19px;
  }
  .productDesc {
    font-size: 19px;
  }
}
